.add-popup {
    position: absolute;
    width: 500px;
    min-height: 500px;
    background-color: rgb(42, 51, 64);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    overflow: hidden;
    border-radius: 10px;
    padding: 30px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: lightgray;
}

.student-name {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    border-bottom: 2px solid rgba(211, 211, 211, 0.3);
    font-size: 20px;
    transition: 1s all ease-in-out;
}

.student-name > input {
    outline: none;
    background-color: inherit;
    border: none;
    color: lightgray;
    font-size: 22px;
    padding: 5px;
    text-align: center;
    transition: 0.5s all ease-in-out;
}

.student-name > input:hover {
    background-color: rgba(211, 211, 211, 0.3);
    transition: 0.5s all ease-in-out;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}