.alert {
    background-color: rgb(168, 84, 96);
    min-width: 300px;
    height: 40px;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 0.1cap;
    color: white;
    border-radius: 10px;
    z-index: 10;
    cursor: pointer;
}

.alert-reg {
    position: fixed;
    top: 30px;
    transform: translateX(-50%);
    left: 75%;
}

.alert-log {
    position: fixed;
    top: 30px;
    transform: translateX(-50%);
    left: 25%;
}