.alert {
    background-color: rgb(168, 84, 96);
    width: 300px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 20px;
    letter-spacing: 0.1cap;
    color: white;
    top: 30px;
    left: 25%;
    transform: translateX(-50%);
    border-radius: 10px;
    z-index: 10;
    cursor: pointer;
}