.content {
    position: relative;
    left: 20%;
    width: 80%;
}

.schedule-wrapper {
    height: 100vh;
    width: 97%;
    background-color: inherit;
    display: grid;
    place-items: center;
    position: absolute;
    left: 3%;
}

.calender-app {
    width: 100%;
    height: 100%;
    color: lightgray;
    background-color: rgba(51, 65, 85, 0.8);
    display: flex;
    column-gap: 5rem;
    padding-bottom: 10px;
}

.calender {
    width: 100%;
    padding: 30px 120px;
}

.heading {
    font-size: clamp(4rem, 3.8cqi, 7rem);
    letter-spacing: 0.1rem;
}

.navigate-date {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-left: 3px;
}

.navigate-date h2 {
    font-size: clamp(1.5rem, 1.5cqi, 2.5rem);
}

.buttons {
    display: flex;
    column-gap: 1rem;
    margin-left: auto;

}

.buttons box-icon {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.weekdays {
    width: 100%;
    display: flex;
    margin: 50px 0 30px 0;
}

.weekdays span {
    width: calc(100% /7);
    font-size: clamp(1rem, 0.8cqi, 1.3rem);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;
}

.days {
    display: flex;
    flex-wrap: wrap;
}

.days span {
    font-size: clamp(1.2rem, 1cqi, 1.6rem);
    width: calc((100% - 77px) / 7);
    aspect-ratio: 1;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
    display: flex;
    background-color: rgba(51, 65, 85, 0.8);
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

.current-day {
    background-color: rgba(51, 65, 85) !important;
}

.events {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: rgb(42, 51, 64);
    height: 500px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.5);
}

.event-popup {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.time-input {
    display: flex;
    column-gap: 10px;
}

.event-popup-time {
    width: clamp(4rem, 4cqi, 7rem);
    color: white;
}

.event-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 17px;
    overflow: hidden;
    gap: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 115px;

}
.event {
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: left;
    border: 1px solid white;
    padding: 0px 3px;
    cursor: pointer;
    width: 100%;
    
}

.event-extra {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
}

.event-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    border-bottom: 2px solid rgba(211, 211, 211, 0.3);
    font-size: 20px;
    transition: 0.5s all ease-in-out;
}

.event-title input {
    outline: none;
    background-color: inherit;
    border: none;
    color: lightgray;
    font-size: 22px;
    padding: 5px;
    text-align: center;
    transition: 0.5s all ease-in-out;
}

.event-title input:hover {
    background-color: rgba(211, 211, 211, 0.3);
    transition: 0.5s all ease-in-out;
    border-radius: 10px;
}

.event-title:hover {
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}

.date-picker-wrapper .react-datepicker__input-container input {
    height: 20px;
    width: 200px;
    padding: 5px;
    text-align: center;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(211, 211, 211, 0.3);
    color: lightgray;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s all ease-in-out;
}

.date-picker-wrapper .react-datepicker__input-container input:hover {
    background-color: rgba(211, 211, 211, 0.3);
    transition: 0.5s all ease-in-out;
    border-radius: 10px;
}

.event-time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.start-time, .end-time{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.start-time label, .end-time label {
    font-size: 20px;
}

.repeat-qa{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.repeat-dates input, .repeat-qa input {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.repeat-dates {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    font-size: 20px;
    margin-top: 20px;
    width: 200px;
}

.rep-date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.event-add-btn {
    min-width: 130px;
    min-height: 40px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s all ease-in-out;
}

.event-add-btn:hover {
    background-color: rgba(211, 211, 211, 0.3);
    color: white;
    transition: 0.3s all ease-in-out;
}

.close-event-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}



